<!DOCTYPE html>

<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div>
        @RenderBody()
    </div>


      <div class="container">
        @RenderBody()
        <!-- Avoid ("sectionName") exception -->
        @RenderSection("scripts", false);
    </div>

</body>
</html>
