@model Shop.Web.Models.Products.ProductViewModel

@{ ViewData["title"] = "Create";
}

<div style="padding:150px">

    <h1>Create</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">

            <form asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
                
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Salery" class="control-label"></label>
                    <input asp-for="Salery" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input type="file" asp-for="ImageFile" class="form-control" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>



</div>