@model Shop.Web.Models.Products.ProductViewModel

@{ ViewData["title"] = "Create";
}

<div style="padding:150px">

    <h1>Create</h1>

    <h4>Product</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">

            <form asp-controller="Product" asp-action="Create" enctype="multipart/form-data">
                
            @if (ViewBag.Message != null)
            {
                <h1 class="alert alert-danger">@ViewBag.Message</h1>
                <h1 class="alert alert-danger">@ViewBag.innerException</h1>
            }

                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input type="text" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="ShortDescription" class="control-label"></label>
                    <input type="text" asp-for="ShortDescription" class="form-control" />
                    <span asp-validation-for="ShortDescription" class="text-danger"></span>
                </div>

    
                <div class="form-group">
                    <label asp-for="FullDescription" class="control-label"></label>
                    <input type="text" asp-for="FullDescription" class="form-control" />
                    <span asp-validation-for="FullDescription" class="text-danger"></span>
                </div>

                 <div class="form-group">
                    <label asp-for="Sku" class="control-label"></label>
                    <input type="text" asp-for="Sku" class="form-control" />
                    <span asp-validation-for="Sku" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="StockQuantity" class="control-label"></label>
                    <input type="number" asp-for="StockQuantity" class="form-control" />
                    <span asp-validation-for="StockQuantity" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input type="number" asp-for="Price" class="form-control" />
                       <span asp-validation-for="Price" class="text-danger"></span>
                </div>

               
                  <label asp-for="ShowOnHomePage" class="control-label">Show on Home Page</label>
                <div>
                 <input type="radio" asp-for="ShowOnHomePage" value="False"  checked />
                  <label for="ShowOnHomePage">No</label>
                </div>

                <div>
                   <input type="radio" asp-for="ShowOnHomePage" value="True"  />
                  <label asp-for="ShowOnHomePage" >Yes</label>
                </div>
                   <span asp-validation-for="ShowOnHomePage" class="text-danger"></span>



                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input type="file" asp-for="ImageFile" class="form-control" />
                   <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-info">Back to List</a>
    </div>



</div>

@section Scripts {
    <partial name ="_validation" ></partial>
}